
.item--container {
    cursor: pointer;
    position: relative;
}
.card-item:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,.75);
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
}
.selected-layout{
    position: absolute;
    right: 5px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.item--name{
    font-weight: 700;
    padding: 0 12px;
    font-size: 1.1rem;
}
.item-image {
    height: 225px;
    width: 200px;
    margin-bottom: 10px;
}
.item--price {
    font-weight: 600;
}
.item--null {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 2rem;
}