.upload-image{
    .btn-add-product {
        width: 100%;
        font-size: 14px;
    }
    .image-product {
        padding-top: 5px;
        justify-content: center;
        display: flex;
    }
    .btn-delete {
        position: absolute;
        right: 20px;
        top: 45px;
        cursor: pointer;
    }
    .img {
        height: 180px;
        width: 180px;
    }
    
    .arrow-left {
        position: absolute;
        top: 125px;
        left: 0;
        cursor: pointer;
        user-select: none;
    }
    
    .arrow-right {
        position: absolute;
        top: 125px;
        right: 0;
        cursor: pointer;
        user-select: none;
    }
    .no-image {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px darkgray;
        height: 180px;
        width: 180px;
    }
}