#productDetails .image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 50px;
    width: 20px;
}

.image-gallery-right-nav {
    right: -10px;
}
.image-gallery-left-nav {
    left: -10px;
}

.fullscreen .image-gallery-right-nav {
    right: 0px;
}

.fullscreen .image-gallery-left-nav {
    left: 0px;
}

.product-title {
    padding: 0 0 10px;
    border-bottom: 1px
    dotted hsl(210, 100%, 78%);
}

.product-otherDetails {
    width: 100%;
    display: flex;
    align-items: center;
    label {
        font-size: 1rem;
    }
}

.product-price {
    padding: 10px 0px;
}
.pro-price {
    display: flex;
    span {
        font-size: 18px;
        opacity: .92;
        font-weight: bold;
        color: red;
    }
}

.actions-container{
    width: 100%;
    float:left;
    .product-quantity{
        margin-bottom: 15px;
        float: left;
        width: 135px;
        input.qty-btn {
            background: #fff;
            float: left;
            border: 1px solid #e1e1e1;
            cursor: pointer;
            font-weight: 600;
            font-size: 16px;
            outline: none;
            height: 49px;
            width: 32px;
            text-align: center;
            border-radius: 0;
            font-size: 20px;
            color: black;
        }
        input#quantity, .quantity-area input#quantity_quickview {
            background: #fff;
            font-weight: 600;
            height: 49px;
            padding: 0;
            text-align: center;
            width: 70px;
            border: 1px solid #e1e1e1;
            border-left: none;
            border-right: none;
            border-radius: 0;
            float: left;
            -webkit-appearance: none;
            font-size: 20px;
            color: black;
        }
    }

    .product-addToCart{
        margin-left: 10px;
        float: left;
        width: calc(100% - 150px);
        button {
            height: 49px;
            width: 100%;
            z-index: 1;
            position: relative;
            font-size: inherit;
            font-family: inherit;
            color: white;
            padding: 0.5em 1em;
            outline: none;
            border: none;
            background-color: hsl(236, 81%, 56%);
        }
        button::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgb(255, 55, 55);
            transform-origin: center right;
            transform: scaleX(0);
            transition: transform 0.5s ease-in-out;
        }
        
        button:hover {
            cursor: pointer;
        }
        
        button:hover::before {
            transform-origin: center left;
            transform: scaleX(1);
        }
    }
}
.product-descriptions{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    .nav-tabs {
        .nav-link{            
            color: black;
            border: none;
        }
        
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: black;
        background-color: #fff;
    }
    .nav-item{
        position: relative;
        a{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 16px;
        }
        .nav-link::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: hsl(236, 81%, 56%);
            transform-origin: bottom right;
            transform: scaleX(0);
            transition: transform 0.5s ease;
        }        
        .nav-link.active::before {
            transform-origin: bottom left;
            transform: scaleX(1);
        }
    }
    .tab-content {
        font-size: 1rem;
        padding: 5px 10px;
    }
}

