#cart {
    .heading-page {
        position: relative;
        text-align: center;
        padding: 0 0 20px 0;
    }
    .heading-page:after {
        content: "";
        background: #252a2b;
        display: block;
        width: 25vw;
        height: 4px;
        margin: 25px auto 0;
    }
    .item-detail {
        display: flex;
        position: relative;
        a {
            font-size: 1.05rem;
            text-decoration: none;
        }
        img {
            max-width: 100px;
            max-height: 100px;
            margin-right: 10px;
            object-fit: contain;
        }
        .remove-item{
            cursor: pointer;
        }
        .remove-item:hover{
            color: red;
        }
    }
    .item-total-quantity{
        .product-quantity{
            margin-bottom: 0x;
            float: left;
            width: 90px;
            input.qty-btn {
                background: #fff;
                float: left;
                border: 1px solid #e1e1e1;
                cursor: pointer;
                font-weight: 400;
                font-size: 1rem;
                outline: none;
                height: 30px;
                width: 25px;
                text-align: center;
                border-radius: 0;
                color: black;
            }
            input#quantity, .quantity-area input#quantity_quickview {
                background: #fff;
                font-weight: 400;
                height: 30px;
                padding: 0;
                text-align: center;
                width: 40px;
                border: 1px solid #e1e1e1;
                border-left: none;
                border-right: none;
                border-radius: 0;
                float: left;
                -webkit-appearance: none;
                font-size: 1rem;
                color: black;
            }
        }
        .total-item-price{
            float: right;
            font-size: 16px;
            padding-right: 0;
            font-weight: 500;
        }
    }

    .total-price{
        font-size: 30px;
        font-weight: 600;
        span {
            font-size: 16px;
            font-weight: 500;
        }        
    }
    .cart-btn{
        float: right;
        .btn--payout{
            margin-left: 10px;
            float: left;
            width: 250px;
            button {
                font-size: 18px !important;
                font-weight: 500;
                height: 49px;
                width: 100%;
                z-index: 1;
                position: relative;
                font-size: inherit;
                font-family: inherit;
                color: black;
                padding: 0.5em 1em;
                outline: none;
                border: solid 1px rgb(255, 55, 55);
                background-color: rgb(255, 55, 55);
            }
            button::before {
                content: '';
                z-index: -1;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: white;
                transform-origin: center right;
                transform: scaleX(0);
                transition: transform 0.5s ease-in-out;
            }
            
            button:hover {
                cursor: pointer;
            }
            
            button:hover::before {
                transform-origin: center left;
                transform: scaleX(1);
            }
        }
    }    
    
}