.order{
    .container{
        margin-top: 50px;
    }
    ._298G_L {
        height: .1875rem;
        width: 100%;
        background-position-x: -1.875rem;
        background-size: 7.25rem .1875rem;
        background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
    }
    .order-detail-page__delivery__container {
        padding: 1.1875rem 1.5rem 1.625rem;
    }
    h1{
        margin: 0;
    }
    .name{
        margin-top: 30px;
    }
    .info-detail-order{
        margin-top: 50px;
        border-top: 1px solid rgba(0,0,0,.09);
        color: rgba(0,0,0,.8);
        font-size: .875rem;
        line-height: 1.1875rem;
    }
    .product{
        display: flex;
        margin-top: 10px;
    }
    .price{
        position: absolute;
        display: flex;
        right: 12%;
        align-items: center;
        height: 80px;
        color: red;
    }
    ._3VUm_y {
        background: #fafafa!important;
    }
    .payment-detail__item {
        display: flex;
        justify-content: flex-end;
        text-align: end;
        border-bottom: 1px dotted rgba(0,0,0,.09);
        padding: 0 1.25rem;
    }
    .payment-detail__item__description {
        border-right: 1px dotted rgba(0,0,0,.09);
        padding: .8125rem .625rem;
        font-size: .75rem;
        color: rgba(0,0,0,.54);
    }
    .payment-detail__item__value {
        min-width: 12.5rem;
        color: rgba(0,0,0,.8);
        word-wrap: break-word;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .btn-back{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
    }
    .confirm{
        margin: 50px;
        display: flex;
        justify-content: flex-end;
    }
}