// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
    font-family: 'Quicksand', sans-serif!important
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-ali-center{
    display: flex;
    align-items: center;
}
.mt-16{
    margin-top: 8px !important;
}
.p-0{
    padding: 0 !important;
}
.header-search-list{ 
    overflow: auto;
    max-height: calc(50vh);
}
.header-search-item{
    border-bottom: solid 1px rgb(216, 216, 216);
}
.dropdown-menu a:last-child{ 
    border: none;
}

.header-search-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 10px;
	background-color: #F5F5F5;
}

.header-search-list::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.header-search-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#input-search {
    width: 90%;
    border: none;
    border-bottom: solid 1px black;
}

#input-search:focus {
    outline: none;
    box-shadow: none;
}

.c-header-nav-btn:hover .c-header-nav-btn:focus {
    color: rgb(0 0 0);
}

.categories-container {
    margin: 0px;
    z-index: 10;
    font-size: 1rem;
    position: absolute; 
    left: 0;
    right: 0;
    top: 54px;
    height: calc(100vh - 56px);
    background-color: rgb(0 0 0 / 50%);
}

.categories-menu {
    margin: 0px;
    padding: 10px 20px;
    inset: 0px 0px auto auto;
    max-width: 55%;
    left: 135px;
    height: auto;
}

@media (max-width: 768px){ 
    .categories-menu {
        left: 10px;
        max-width: 100%;
    }
}

.c-main {
    background: rgb(200,202,255);
background: linear-gradient(126deg, rgba(200,202,255,1) 0%, rgba(0,151,255,0.23042720506171221) 14%, rgba(255,255,255,1) 29%, rgba(244,244,255,1) 80%, rgba(87,147,255,0.527345972568715) 100%);}

.category-item{
    color: rgba(0, 0, 21, 0.5);
    padding: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
}
.category-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #321fdb;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.category-item:hover {
    color:black;
}
.category-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}