.address-selector{
    display: flex;
}
.order-price-cont {
    border-left: 1px solid #e1e1e1;
    .item-detail{
        display: flex;
        margin-bottom: 10px;
    }
    .item-image {
        width: 62px;
        height: 80px;
        margin-right: 10px;
    }
    .order-discount{
        border-top: 1px solid #e1e1e1;
        display: flex;
        .voucher-text{
            flex-grow: 1;
        }
        .voucher-btn {
            margin-left: 20px;
            flex-grow: 1;
            white-space: nowrap;
            width: auto;
        }
    }
    .order-price-include {
        border-top: 1px solid #e1e1e1;
        font-size: 1.1rem;
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            td {
                padding-top: 0.75em;
                &:first-child{
                    text-align: left;
                }
                &:last-child{
                    text-align: right;
                }
            }
        }
    }
    .order-total-price {
        border-top: 1px solid #e1e1e1;
        font-size: 1.2rem;
        font-weight: 600;
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            td {
                padding-top: 0.75em;
                &:first-child{
                    text-align: left;
                }
                &:last-child{
                    text-align: right;
                }
            }
        }
    }
}
